# Created by .ignore support plugin (hsz.mobi)

/target/
/leetCode.iml
/src/test/
/.idea/
src/main/resources/
/src/main/java/leetcode/editor/cn/doc/
/src/main/java/leetcode/editor/cn/all.json
/src/main/java/leetcode/editor/cn/translation.json
